.table-sort {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

.table-sort:hover {
  text-decoration: underline;
}

.table-danger-subtle td {
  background-color: #f8d7da;
  border-bottom: 8px solid #fff;
}
