/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';

html,
body {
  margin: 0;
}

.page {
  max-width: 480px;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .page {
    max-width: 640px;
  }
}

.status-swatch {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  vertical-align: middle;
}

.status-swatch-lg {
  width: 1.5rem;
  height: 1.5rem;
}

